div.home-page {
  background-position: 0px -10px;
}

.site-main {
  min-height: 300px;	
}

h1.site-title {
  	font-size: 2em;
}

h2.site-description {
  	font-size: 1.6em;
}

div.navbar {
	position: relative;
	top: -55px;
}

.nav-menu li a {
	font-size: 1.2em;
}

.aux-menu a {
	font-size: 1em;
	margin: 10px;
}

.blurp {
	font-size: 75%;		
}

.testimonials {
	min-height: 620px;	
}

.t0 {
	margin-top: -2%;
}

.t6 {
	width: 30%;
	top: 50%;
	left: 35%;
	transform:rotate(-1deg);
	-ms-transform:rotate(-1deg); /* IE 9 */
	-webkit-transform:rotate(-1deg);		
}

